<div class="overflow-hidden">

    <h2 class="text-center font-bold text-3xl dark:text-white mb-7">Categories</h2>

    <div class="slide-track flex items-center justify-center gap-5">

        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 6]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/tv-icon.webp" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Home & appliances</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 7]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/audio-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Audio & sound</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 4]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/pet-toy-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Pet toys</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 5]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/phone-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Phone & tablet</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 3]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/shoes-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Shoes</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 2]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/t-shirt-icon.webp" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Clothes</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 1]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/watch-icon.webp"  alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Watches</p>
        </article>

        <!--Second list-->

        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 6]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/tv-icon.webp" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Home & appliances</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 7]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/audio-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Audio & sound</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 4]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/pet-toy-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Pet toys</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 5]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/phone-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Phone & tablet</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 3]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/shoes-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Shoes</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 2]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/t-shirt-icon.webp" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Clothes</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 1]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/watch-icon.webp"  alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Watches</p>
        </article>

        <!--Second list-->

        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 6]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/tv-icon.webp" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Home & appliances</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 7]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/audio-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Audio & sound</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 4]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/pet-toy-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Pet toys</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 5]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/phone-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Phone & tablet</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 3]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/shoes-icon.jpg" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Shoes</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 2]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/t-shirt-icon.webp" alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Clothes</p>
        </article>
        <article class="flex flex-col justify-center items-center">
            <div class="bg-gradient-to-r from-cyan-300 via-red-600 to-cyan-200 border-2 border-cyan-600 rounded-full p-1"><img [routerLink]="['/alexpress/categories', 1]" class="w-32 object-cover h-32 rounded-full cursor-pointer" src="/alexpress-page/assets/categories-img/watch-icon.webp"  alt="category-icon"></div>
            <p class="dark:text-white font-bold mt-2">Watches</p>
        </article>
            

        
    </div>
</div>
